/* ------------- */
/* General Setup */
/* ------------- */

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* -------------- */
/* Custom Classes */
/* -------------- */

/* Dispay */

.on {
    display: unset;
}

.off {
    display: none;
}

/* Text */

.light {
    color: black;
}

.dark {
    color: white;
}

/* Order */

.o1 {
    order: 1;
}

.o2 {
    order: 2;
}

.o3{
    order: 3;
}

.o4 {
    order: 4;
}

.o5 {
    order: 5;
}

.o6 {
    order: 6;
}

.o7 {
    order: 7;
}

.o8 {
    order: 8;
}

.o9 {
    order: 9;
}

.o10 {
    order: 10;
}

.o11 {
    order: 11;
}

.o12 {
    order: 12;
}

.o13 {
    order: 13;
}

.o14 {
    order: 14;
}

.o15 {
    order: 15;
}

.o16 {
    order: 16;
}

.o17 {
    order: 17;
}

.o18 {
    order: 18;
}

.o19 {
    order: 19;
}

.o20 {
    order: 20;
}

.o100 {
    order: 100;
}

/* -------- */
/*  Header  */
/* -------- */

header {
    height: 70px;
    width: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    transition: all 500ms;
}

header.stay {
    position: unset;
}

header.move {
    position: fixed;
}

.nav-colored {
    background: rgba(0, 0, 0, .5);
}

.nav-transparent {
    background: none;
}

h1 {
    margin: 0px 0px 0px 24px;
    color: white;
}

nav {
    margin: 0px;
    padding: 0px 16px;
    list-style-type: none;
}

nav li {
    float: left;
}

nav li a:hover {
    background: rgba(0, 0, 0, .5);
}

nav li a {
    padding: 25px 16px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
}

#nav-toggler {
    padding: 25px 40px;
    display: none;
    text-align: center;
}

#nav-toggler:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 720px) {
    
    nav {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 70px;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        transition: all 500ms;
    }

    .nav-active {
        right: 0;
        display: inherit;
    }

    nav li {
        text-align: center;
    }

    nav li a {
        padding: 25px 32px;
    }

    #nav-toggler {
        display: block;
    }
}

/* ----------- */
/*   Toplink   */
/* ----------- */

#toplink {
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .25);
    text-align: center;
}

#toplink a {
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

/* -------- */
/*   Main   */
/* -------- */

main {
    display: flex;
    flex-direction: column;
}

/* TOP INFO */

#topinfo {
    width: 100vw;
    position: fixed;
    bottom: 8px;
    text-align: center;
}

#topinfo a {
    padding: 16px;
    font-size: 32px;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

/* -------- */
/* Sections */
/* -------- */

section {
    height: 300px;
    padding: 0 15%;
}

/* Title Section */

#title {
    height: 100vh;
}

#title.solid {
    background: rgb(255, 255, 255);
}

#title.img {
    background-image: url(/images/titlebg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Menu Section */

#menu {
    
}

#menu.solid {
    background: rgb(255, 255, 255);
}

#menu.img {
    background-image: url(/images/menubg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}